<div class="login-page">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required>
            <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email?.hasError('required')">
                Email is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="password?.hasError('minlength')">
                Password must be at least 6 characters long
            </mat-error>
            <mat-error *ngIf="password?.hasError('required')">
                Password is required
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>